* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    line-height: 1.6em;
    font-weight: normal;
    vertical-align: baseline;
    background: transparent;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: visible;
    transition: all .3s ease-in-out;
}

$accent-color: #A3C9D3;
$accent-font: Georgia, "Times New Roman", Times, serif;
%section-title {
    margin-bottom: 20px;
    font-family: $accent-font;
	font-size: 22px;
    font-weight: normal;
    line-height: normal;
    text-align: center;
    color: #888888;
}
.active {
    color: $accent-color !important;
}
.button {
    display: inline-block;
    padding: 10px 20px 12px;
    text-transform: uppercase;
    border: 1px solid;
    border-radius: 5px;
    border-color: $accent-color;
    background-color: $accent-color;
    color: #FFFFFF;
}
.button:hover {
    background: transparent;
    border-color: #FFFFFF;
}
/* HEADER ==================================================================== */
header {
    text-align: center;
    background-image: url(../images/header-background.png);
    background-size: cover;
    background-position: bottom;
}
header .logo {
    padding-top: 50px;
    margin-bottom: 50px;
}
header .logo h1 a {
    display: block;
    font-family: $accent-font;
    font-size: 36px;
    letter-spacing: 5px;
    text-transform: uppercase;
    line-height: 1;
    color: #FFFFFF;
}
header .logo p {
    margin-top: -7px;
    font-size: .9rem;
    font-style: italic;
    text-transform: lowercase;
    color: #FFFFFF;
}
header .menu {
    padding-bottom: 50px;
}
header .menu ul {
    list-style: none;
    padding: 20px;
}
header .menu ul > li {
    margin-right: 30px;
    display: inline-block;
    text-transform: uppercase;
}
header .menu ul > li:nth-of-type(7n + 7) {
    margin: 0;
}
header .menu ul > li a {
    padding: 20px 0;
    color: #FFFFFF;
}
header .menu ul > li:nth-of-type(7n + 1) a {
    padding: 20px 0;
}
header .intro {
    color: #FFFFFF;
    padding: 150px 0 100px;
}
header .intro .title {
    margin-bottom: 150px;
}
header .intro .title h2 {
    @extend %section-title;
    font-family:$accent-font;
    margin-bottom: 20px;
    font-size: 32px;
}
header .intro .title p {
    margin: 16px 0;
    font-size: 16px;
}
/* ALBUM ==================================================================== */
.album {
    padding: 80px 0;
}
.album-content article {
    padding: 30px;
    border: 1px solid;
    color: #888888;
    border-color: #D7D7D7;
}
.album-content article h6 {
    margin-bottom: 20px;
    font-family: $accent-font;
    font-size: 22px;
    line-height: normal;
    font-weight: normal;
}
.album-content a {
    color: #FFFFFF;

}
.album-content a figure {
    position: relative;
    max-width: 100%;
    height: auto;
}
.album-content a figure img {
    width: auto;
    max-width: 100%;
    max-height: 197px;
    margin: 0;
    padding: 0;
    border: none;
    line-height: normal;
    background-color: $accent-color;
}
.album-content a figure figcaption {
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    width: 100%;
    line-height: 1;
    text-align: center;
    opacity: 0;
    z-index: 1;
    transition: all .3s ease-in-out;


}
.album-content a figure::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 0; 
    transition: all .3s ease-in-out;

}
.album-content a figure:hover figcaption {
    opacity: 1;
    transition: all .3s ease-in-out;
}
.album-content a figure:hover::after {
    background-color: $accent-color;
    opacity: .6;
}
/* RIBBON ==================================================================== */
.ribbon {
    padding: 80px 0;
    background-image: url(../images/ribbon-background.png);
    background-position: top;
    background-size: cover;
    text-align: center;
    color: #888888;
}
.ribbon h6 {
    @extend %section-title;
}
.ribbon p {
    margin-bottom: 50px;
}
/* RIBBON ==================================================================== */
.features {
    padding: 80px 0;
    text-align: center;
}
.features .title {
    color: #888888;
    margin-bottom: 80px;
}
.features .title h6 {
    @extend %section-title;
}
.features-content .card {
    padding-top: 20px;
}
.features-content .card-icon {
    display: flex;
    justify-content: center;
    position: relative;
}
#sq1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0 auto 60px;
    width: 100px;
    height: 100px;
    background-color: $accent-color;
    border-color: $accent-color;
    border: 1px solid;
    border-radius: 5px;
    border-color: $accent-color;
    color: #FFFFFF;
}
#sq1  p {
    font-size: 40px;
    font-weight: 400;
    z-index: 1;
}
#sq2 {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    background-color: $accent-color;
    border: 1px solid;
    border-radius: 5px;
    border-color: $accent-color;
    transform: rotate(45deg);
    transition: all .3s ease-in-out;
}
.features-content .card:hover #sq2 {
    transform: rotate(360deg);
}
.features-content .card h6 {
    @extend %section-title;
    font-size: 1.2rem;
    margin-bottom: 10px;
}
.features-content .card > p {
    margin-bottom: 30px;
    text-align: center;
    color: #888888;
}
.features-content .card a {
    color: $accent-color;
}
.features-content .card:hover h6 {
    color: $accent-color;
}
/* RIBBON ==================================================================== */
footer {
    text-align: center;
    background-image: url(../images/footer-background.png);
    background-position: bottom;
    background-size: cover;
}
footer .footer-content {
    padding: 80px 0;
    border-bottom: 1px solid;
    border-color: #888888;
}
footer .footer-content h6 {
    margin-bottom: 20px;
    @extend %section-title;
    color: $accent-color;
    text-transform: uppercase;
}
.footer-content ul {
    list-style: none;
}
.footer-content ul li {
    margin-top: 8px;
    margin-right: 5px;
    display: inline-block;
    background-color: $accent-color;
    border-radius: 5px;
}
.footer-content ul li:nth-of-type(6n+6) {
    margin-right: 0;
}
.footer-content ul li a {
    color: #FFFFFF;
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-size: 18px;
    text-align: center;
}
.footer-content ul li:nth-of-type(6n+1):hover {
    background-color: #3B5998;
}
.footer-content ul li:nth-of-type(6n+2):hover  {
    background-color: #00ACEE;
}
.footer-content ul li:nth-of-type(6n+3):hover  {
    background-color: #EA4C89;
}
.footer-content ul li:nth-of-type(6n+4):hover  {
    background-color: #0E76A8;
}
.footer-content ul li:nth-of-type(6n+5):hover  {
    background-color: #DB4A39;
}
.footer-content ul li:nth-of-type(6n+6):hover  {
    background-color: #4E658E;
}
footer .copyright {
    padding: 30px 0;
}